$white: #fff;
$black: #000;
$green: #0BC162;
$red: #F91A23;
$blue: #2563EB;
$blue2: #0097F0;
$blue3: #0098ED;

$drukCyr: "DrukCyr-Medium", sans-serif;
$formular: "Formular", sans-serif;
$geogrotesque: "GeogrotesqueCyr", sans-serif;
$typographPro: 'typographPro', sans-serif;